spring:
  application:
    name: StockVault

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/stockvault
    username: stockvault
    password: stockvault

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true